asgiref==3.8.1
black==23.10.0
blinker==1.6.3
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
Django==3.2.19
flake8==6.1.0
fonttools==4.51.0
importlib_resources==6.4.0
imutils==0.5.4
isort==5.12.0
itsdangerous==2.1.2
japanize-matplotlib==1.1.3
Jinja2==3.1.2
joblib==1.4.2
jsonpointer==2.1
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.4
mccabe==0.7.0
mypy==1.6.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.1.0
mysqlclient==2.2.4
numpy==2.0.0
packaging==23.2
pathspec==0.11.2
pillow==10.3.0
platformdirs==3.11.0
protobuf==4.21.12
pycodestyle==2.11.1
pyflakes==3.1.0
PyMySQL==1.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
sqlparse==0.4.4
threadpoolctl==3.5.0
tomli==2.0.1
typing_extensions==4.8.0
Werkzeug==3.0.0
zipp==3.19.2
