{% extends "base.html" %}
{% load static %}
{% block contentt %}

<div class="container">
    <div class="item">4人席A</div>
    <div class="item">4人席B</div>
    <div class="item">4人席C</div>
    <div class="item_test">4人席D</div>
    <div class="item">2人席A</div>
    <div class="item">2人席B</div>
    <div class="item">2人席C</div>
    <div class="item">2人席D</div>
    <div class="item">1人席A</div>
    <div class="item box-big">VIP席</div>
    <div class="item">1人席B</div>
    <div class="item">1人席C</div>
</div>
{% endblock  %}