* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #f1f1f1;
}


/* 受付開始画面ボタン */
.hoge_button {
    text-align: center;
    background-color: #fff;
}

.hoge {
    width: 50%;
    padding: 6% 6%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
}


.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 5px;
    background-color: rgba(90, 182, 212, .9);
    padding: 4% 8%;
    text-decoration: none;
    font-size: 3rem;
}

.reception {
    color: #fff;
}


.btn2 {
    border-radius: 5px;
    background-color: rgb(90, 182, 212);
    padding: 16px 40px;
    border: 0px;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    letter-spacing: .4rem;
    font-size: large;
}


a {
    text-decoration: none;
    color: white;
    padding: 5px;
}


h1 {
    text-align: center;
    font-size: 100px;
}


h2 {
    text-align: center;
    background-color: #fff;
}



.spinner-container {
    display: flex;
    justify-content: center;
    /* ボタンを押した時に文章を範囲選択しない */
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    padding: 6% 0;
    background-color: #fff;
}

.spinner {
    width: 70px;
    padding: 0;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    pointer-events: none;
    font-size: 2rem;
}

.spinner::-webkit-inner-spin-button,
.spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.spinner-sub,
.spinner-add {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    line-height: 60px;
}


.guidance {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 6% 10%;
}


/* jQueryで付与または外すと最小値と最大値の時にボタンを押せない */
.disabled {
    opacity: 0.3;
    color: red;
    cursor: inherit;
}

/* layout */
.item {
    background: #ddd;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #ccc;
}

.fill {
    background: #df9292;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #ccc;
}


.layout-wrap {
    width: 100%;
    height: 100%;
}

.layout-container {
    display: flex;
    height: 100vh;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 180px 60px 60px 60px; */
    width: 80%;
    margin: 1% 0 1% 1%;
    padding: 3%;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

.box-big {
    grid-column: 2 / 5;
    grid-row: 3 / 6;
}

#bird {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.predict-container {
    width: 20%;
    margin: 1% 1% 1% 0;
    padding: 3% 0 0 0%;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
}

.predict-container h3 {
    padding-bottom: 3%;
}

.hide {
    display: none;
}